.lateral{
    background-color: white;
    height: 100vh;
    color: black;
}

.mg{
	
	margin-bottom: 40px; 
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

.tipo{

    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
}

.tmenu{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
}

.vertical{
    vertical-align:middle;
}

.thead-color{
    background-color: #8C4A6F;
}

.table-bordered
{

  border-radius: 15px;
 
}

.bg-morado{
    background-color: #B32A40;
}

.b-right{
    float: right;
}

.scroll-t{
    overflow:scroll;
     height:400px;
     
}

.name{
    
    color: #005778;
    font-size: 18px;
    text-transform: uppercase;
}
